<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb0730.zoom.base.sys.system.mapper.UserSubscribeMsgMapper">
    <select id="findUserSubscribe" resultType="com.hb0730.zoom.base.sys.system.entity.SysUserSubscribeMsg">
        SELECT t.*
        FROM sys_user_subscribe_msg t
                 LEFT JOIN sys_message_subscribe s ON t.subscribe_id = s.id
        WHERE t.user_id = #{userId}
          AND s.code = #{code}

    </select>
</mapper>
